 body {
   background-color: rgb(21, 20, 20);
 }

h1 {
    color: white;
    font-size: 80px;
    font-family: bold;
    font-style: arial;
    text-align: center;
    }

    h2 {
      color: white;
      font-size: 50px;
      font-family: bold;
      font-style: arial;
      text-align: right;
      margin-right: 1vw;
      margin-bottom: 0vh;
    }

    iframe {
      height: 85vh;
      width: 75vw;
      border-style: ridge;
      background-color: white;
      margin-top: 0vh;
      border-color: white;
   }

    .topnav {
        overflow: hidden;
        background-color: black;
         top: 0px;
         right: 0px;
        width: 100vw;
        height: 5vh;
      position: absolute;
     }

     .divbutton {
      width:  90px; 
      height: 30px;
      border-radius: 42px;
      cursor: pointer; 
      border: none;
      background-color: black;
      color: white; 
       float: top; 
       float: right;
       margin-top: 0px;
       margin-bottom: 0px;
       font-size: 20px;
     }

     .divbutton:hover {
      background-color: rgb(6, 184, 255);
      box-shadow: 0.1px 0.1px black;
     }


     .about-blank {
        width:  115px; 
        height: 30px;
        border-radius: 42px;
        cursor: pointer; 
        border: none;
        background-color: black;
        color: white; 
         float: top; 
         float: left;
         margin-top: 0px;
         margin-bottom: 0px;
         font-size: 20px;
     }

     .about-blank:hover {
        background-color: rgb(6, 184, 255);
        box-shadow: 0.1px 0.1px black;
     }

     .centered {
      text-align: center;
      margin: 0 auto;
     }

     .eaglercraft {
        background-color: rgb(21, 20, 20);
        background-image: url('eaglercraft.png');
        background-position: center; 
        background-repeat: no-repeat;
        background-size: 95px;
        font-size: 21px;
        color: white;
        font-weight: bold;
        padding-top: 120px;
        width: 160px;
        height: 150px;
        border-style: ridge;
        border-radius: 15px;
        margin-top: 6vh;
        margin: 20px;
        cursor: pointer;
     }

     .retro-bowl {
        background-color: rgb(21, 20, 20);
        background-image: url('retro\ bowl.jpg');
        background-size: 100px;
        background-repeat: no-repeat;
        background-position: center;
        height: 150px;
        width: 160px;
        font-size: 21px;
        color: white; 
        font-weight: bold;
        padding-top: 120px;
        border-style: ridge;
        border-radius: 15px;
        margin: 20px;
        cursor: pointer;
        margin-top: 6vh;
     }

     .bing {
      width: 160px;
      height: 150px;
      background-color: rgb(21, 20, 20);
      background-image: url('bing.jpg');
      background-position: center;
      background-size: 100px;
      background-repeat: no-repeat;
      font-size: 21px;
      color: white;
      font-weight: bold;
      padding-top: 120px;
      display: inline-block;
      margin-top: 6vh;
      border-style: ridge;
      border-radius: 15px;
      cursor: pointer;
     }

     .eggy-car {
      background-color: rgb(21, 20, 20);
      background-image: url('eggy\ car.jpg');
      background-size: 120px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 21px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
     }

     .among-us {
      background-color: rgb(21, 20, 20);
      background-image: url('among\ us.jpg');
      background-size: 98px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 21px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
     }
      
     .lol {
      background-color: rgb(21, 20, 20);
      background-image: url('1v1\ lol.png');
      background-size: 100px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 21px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
     }

     .ev-io {
      background-color: rgb(21, 20, 20);
      background-image: url('ev\ io.jpg');
      background-size: 100px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 21px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
     }

     .cookie-clicker {
      background-color: rgb(21, 20, 20);
      background-image: url('cookie.png');
      background-size: 100px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 20px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
     }

     .basketball-stars {
      background-color: rgb(21, 20, 20);
      background-image: url('basketball\ stars.jpg');
      background-size: 100px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 19.5px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
      white-space: nowrap;
     }

     .drift-boss {
      background-color: rgb(21, 20, 20);
      background-image: url('drift\ boss.png');
      background-size: 95px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 21px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
     }

     .Bitlife {
      background-color: rgb(21, 20, 20);
      background-image: url('bitlife.jpg');
      background-size: 95px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 21px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
     }

     .slope {
      background-color: rgb(21, 20, 20);
      background-image: url('slope.jpg');
      background-size: 95px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 21px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
     }

     .mario {
      background-color: rgb(21, 20, 20);
      background-image: url('Mario.gif');
      background-size: 75px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 21px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
     }

     .super-mario {
      background-color: rgb(21, 20, 20);
      background-image: url('super\ mario.png');
      background-size: 110px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 20px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
      white-space: nowrap;
     }

     .tunnel-rush {
      background-color: rgb(21, 20, 20);
      background-image: url('tunnel\ rush.jpg');
      background-size: 95px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 20px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
     }

     .temple-run2 {
      background-color: rgb(21, 20, 20);
      background-image: url('temple\ run2.png');
      background-size: 95px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 20px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
     }

     .puzzel {
      background-color: rgb(21, 20, 20);
      background-image: url('2048.png');
      background-size: 95px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 20px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
     }

     .minecraft-classic {
      background-color: rgb(21, 20, 20);
      background-image: url('minecraft\ classic.png');
      background-size: 95px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 18.5px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
      white-space: nowrap;
     }

     .basket-random {
      background-color: rgb(21, 20, 20);
      background-image: url('basket\ random.jpg');
      background-size: 95px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 20px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
     }

     .soccer-random {
      background-color: rgb(21, 20, 20);
      background-image: url('soccer\ random.jpg');
      background-size: 95px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 20px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
     }

     .boxing-random {
      background-color: rgb(21, 20, 20);
      background-image: url('boxing\ random.jpg');
      background-size: 95px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 18px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
     }

     .lolshot {
      background-color: rgb(21, 20, 20);
      background-image: url('lolshot.jpg');
      background-size: 95px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 20px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
     }

     .death-run3D {
      background-color: rgb(21, 20, 20);
      background-image: url('death\ run3D.png');
      background-size: 95px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 21px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
     }

     .infinite-craft {
      background-color: rgb(21, 20, 20);
      background-image: url('infintie\ craft.png');
      background-size: 95px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 21px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
     }

     .flappy-bird {
      background-color: rgb(21, 20, 20);
      background-image: url('flappy\ bird.png');
      background-size: 95px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 21px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
     }

     .worlds-hardest-game {
      background-color: rgb(21, 20, 20);
      background-image: url('worlds\ hardest\ game.jpg');
      background-size: 95px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 21px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
     }

     .WHG2 {
      background-color: rgb(21, 20, 20);
      background-image: url('worlds\ hardest\ game\ 2.jpg');
      background-size: 95px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 21px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
     }

     .volly-random {
      background-color: rgb(21, 20, 20);
      background-image: url('volly\ random.jpg');
      background-size: 95px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 21px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
     }

     .windows11 {
     background-color: rgb(21, 20, 20);
     background-image: url('windows11.jpg');
     background-size: 90px;
     background-repeat: no-repeat;
     background-position: center;
     height: 150px;
     width: 160px;
     font-size: 15px;
     color: white; 
     font-weight: bold;
     padding-top: 120px;
     border-style: ridge;
     border-radius: 15px;
     margin: 20px;
     cursor: pointer;
     margin-top: 6vh;
     }   


     .smash-karts {
      background-color: rgb(21, 20, 20);
      background-image: url('smash\ karts.jpg');
      background-size: 110px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 21px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
     }

     .snow-rider {
      background-color: rgb(21, 20, 20);
      background-image: url('snow\ rider\ 3D.jpg');
      background-size: 100px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 21px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
     }

     .backrooms {
      background-color: rgb(21, 20, 20);
      background-image: url('backrooms.jpg');
      background-size: 100px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 21px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
     }

     .neal-fun {
      background-color: rgb(21, 20, 20);
      background-image: url('neal.fun.jpg');
      background-size: 100px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 21px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
     }

     .deadshot {
      background-color: rgb(21, 20, 20);
      background-image: url('deadshot.jpg');
      background-size: 95px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 21px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
     }

     .slow-roads {
      background-color: rgb(21, 20, 20);
      background-image: url('slow\ roads.jpg');
      background-size: 100px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 21px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
     }

     .spidey-swing {
      background-color: rgb(21, 20, 20);
      background-image: url('spidey\ swing.jpg');
      background-size: 100px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 21px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
     }

     .venge {
      background-color: rgb(21, 20, 20);
      background-image: url('venge.jpg');
      background-size: 100px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 21px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
     }

     .krunker {
      background-color: rgb(21, 20, 20);
      background-image: url('krunker.png');
      background-size: 100px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 21px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
     }

     .Run3 {
      background-color: rgb(21, 20, 20);
      background-image: url('run3.jpg');
      background-size: 100px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 21px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
     }

     button:hover {
      border-color: purple;
      box-shadow: 5px 5px purple;
     }

     .jeff-bazos {
      background-color: rgb(21, 20, 20);
      background-image: url('JEFF\ BAZOS.png');
      background-size: 150px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 17px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
      white-space: nowrap;
     }

     .wordle {
      background-color: rgb(21, 20, 20);
      background-image: url('wordle.png');
      background-size: 100px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 21px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
     }

     .csgo {
      background-color: rgb(21, 20, 20);
      background-image: url('csgo\ clicker.png');
      background-size: 130px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 21px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
     }

     .idle {
      background-color: rgb(21, 20, 20);
      background-image: url('idle\ breakout.png');
      background-size: 100px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 21px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
     }

     .santa {
      background-color: rgb(21, 20, 20);
      background-image: url('santa\ tracker.png');
      background-size: 100px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 21px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
     }

     .fullscreen {
      width: 50px;
      height: 50px;
      background-image: url('fullscreen.png');
      background-size: 45px;
      background-position: center;
      background-repeat: no-repeat;
      border: none;
      border-radius: 10px;
      margin-top: 80vh;
     }

     .dino {
      background-color: rgb(21, 20, 20);
      background-image: url('chrome\ dino.png');
      background-size: 100px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 21px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
     }

     .monkey {
      background-color: rgb(21, 20, 20);
      background-image: url('monkey\ mart.jpg');
      background-size: 100px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 21px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
     }

     .crossy-road {
      background-color: rgb(21, 20, 20);
      background-image: url('crossy\ road.jpg');
      background-size: 100px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 21px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
     }

     .bloons {
      background-color: rgb(21, 20, 20);
      background-image: url('bloonstd.jpg');
      background-size: 100px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 21px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
     }

     .paper {
      background-color: rgb(21, 20, 20);
      background-image: url('paper\ io.png');
      background-size: 100px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 21px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
     }

     p {
      font-size: 50px;
      color: white;
      font-style: italic;
      text-align: center;
      margin-top: 50vh;
     }

     .shell {
      background-color: rgb(21, 20, 20);
      background-image: url('shellshockers.jpg');
      background-size: 100px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 19px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
     }

     .phone {
      background-color: rgb(21, 20, 20);
      background-image: url('gartic\ phone.jpg');
      background-size: 100px;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 160px;
      font-size: 19px;
      color: white; 
      font-weight: bold;
      padding-top: 120px;
      border-style: ridge;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      margin-top: 6vh;
     }



